.menuContainer {
    width: 20%;
    height: 100vh;
    background-color: rgb(149, 149, 149);
    padding-top: 50px;
    position: relative;
    box-shadow: inset 0px 4px 10px rgb(52, 52, 52);
    margin-right: 10px;
}

.writeLetter {
    width: 180px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 50px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.writeLetter:hover {
    width: 100%;
}

.menuPoint {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    box-shadow: 0px 0px 3px black;
    margin-bottom: 10px;
    color: white;
    transition: 0.2s;
    font-size: 18px;
    cursor: pointer;
}

.menuPoint:hover {
    color: red;
    border-right: 5px solid red;
}