.email-let {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 5px;
    background-color: rgb(128, 128, 128);
    border: 1px solid white;
    border-radius: 5px;
    cursor: default;
    transition: .3s;
    color: white;
}

.email-let:hover {
    color: red;
}

.box {
    display: flex;
}

.box p {
    padding-left: 10px;
}

.box img {
    cursor: pointer;
}


