.login-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;  
    /* background-color: rgba(155, 155, 155, 0.511); */
    background-image: url(./backgraund.jpg);
}

.login-window {
    width: 340px;
    height: 350px;
    background-color: rgb(75, 75, 75);
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 20px;
    z-index: 2;
}

.span {
    padding-right: 10px;
}

.login-input, .password-input, .lb {
    display: block;
    margin: 10px auto;
    outline: none;
    border: none;
}

.login-input, .password-input {
    width: 260px;
    padding: 5px;
    border-radius: 15px;
    color: red;
    border: 2px solid white;
    font-size: 20px;
    margin-top: 30px;
}

.login-input:focus {
   border: 2px solid red;
}

.password-input:focus {
    border: 2px solid red;
}

.lb {
    width: 170px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 40px;
    background-color: red;
    color: white;
    transition: .3s;
}

.lb:hover {
    background-color: white;
    color: red;
}