header {
    background-color: rgba(155, 155, 155, 0.511);
    width: 100%;
}

.loader {
    width: 200px;
    margin: 250px auto;
}

.headerContainer {
    max-width: 1440px;
    min-height: 50px;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
   justify-content: space-between;
   align-items: center;
}

.user {
  font-size: 25px;
  padding: 0 30px;
}

.loginBtn {
   width: 120px;
   height: 30px;
   border-radius: 8px;
   outline: none;
   border: none;
   background-color: rgb(205, 13, 13);
   color: white;
   font-size: 18px;
   transition: ease-in-out 0.3s;
}

.loginBtn:hover {
    border-radius: 100%;
}

.userInfo {
    display: flex;
}

span {
    color: red;
}