.CreateLetter {
    max-width: 880px;
    /* height: 200px; */
    margin: 0 auto; 
    border-radius: 10px;
    border: 3px solid red;
    background-color: rgba(155, 155, 155, 0.511);
}

.CreateLetter-header {
    width: 100%;
    padding: 3px;
    background-color: red;
    color: white;
    margin-bottom: 10px;
}

.inputst,textarea {
    display: block;
    width: 95%;
    outline: none;
    border: none;
    resize: none;
    padding: 10px;
    font-size: 15px;
    margin: 0 auto;
    border-radius: 10px;
}

.inputst {
   margin-bottom: 10px;
   text-transform: capitalize;
}

textarea{
    height: 400px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: scroll;
}

textarea::-webkit-scrollbar{
    scroll-snap-type: none;
}

.CreateLetter-button {
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 17px;
    border: 1px solid red;
    transition: .2s;
}

.CreateLetter-button:hover {
    background-color: white;
    color: red;
}