@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
}

body {
  overflow: hidden;
}

.App::-webkit-scrollbar {
  scroll-snap-type: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
}
